:root {
    --cor-texto: rgb(218, 218, 218);
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


header, main, footer {
    background-color: rgba(0, 0, 0, 0.6);
    
}
.center {
    text-align: center;
    margin-top: 15px;
}

body {
    background-color: #3f3e3e;
    background-image: url(../assets/background-image.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "montserrat", sans-serif;
  
}

header {
    height:10vh;
    width: 100vw;
    padding-bottom: 15px;
}

.cabecalho{ 
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
    color: var(--cor-texto);
}


main {
    height: auto;
    min-height: 80vh;
    width: 100vw;
    

}

.form-add{
    display: flex;
    flex-direction: column;
    color: var(--cor-texto);
    padding-top: 15px;
    font-size: 20px;
    align-items: center;
}

.item-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

#add-item {
    margin: 15px 0;
    border-radius: 8px;
    height: 20px;
    width: 50vw;
    max-width: 200px;
    text-align: center;
    border: 0.5px solid white
}

input::placeholder {
    text-align: center;
}

#add-qnt {

        margin: 15px 0;
        border-radius: 8px 0 0 8px; 
        height: 20px;
        width: 12vw;
        max-width: 30px;
        text-align: center;
        border: 0.5px solid white;
        padding-left: 10px;
        
    }

select{
    margin: 25px -5px;
    padding-bottom: 2px;
    border-radius: 0 8px 8px 0;
    height: 24px;
    width: 15vw;
    max-width: 50px;
    text-align: center;
    font-size: 16px;
    border: 0.5px solid white
}

.form-add > input[type=button] {
    margin: 10px auto;
    font-weight: 800;
    color: var(--cor-texto);
    background-color: #2b97da;
    border-radius: 10px;
    height: 35px;
    width: 150px;
    border: 1px solid white;
    transition-duration: 0.4s;

}

.form-add > input[type=button]:hover{
    color: #2b97da;
    background-color: white;
    border: 1px solid #2b97da;

}
.form-add > input[type=button]:active{
    background-color: #1aa7ff;
    color: var(--cor-texto);
    border: 1px solid white;

}

.lista{
        display: flex;
        flex-direction: row;
}

p, li{
    
    color: var(--cor-texto);
    font-size: 20px;
    
}

li {
    
    margin-right: 10px;
}


.item{
    display: flex;
    flex-direction: row;
    align-self:auto;
    align-items: center;
    justify-content: space-between;
  
}


.item input[type=checkbox]{
    height: 25px;
    width: 25px;
    clip-path: circle(46% at 50% 50%);
}


.item input:checked {
    -webkit-appearance: none;
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
}

.modify{
   display: flex;
   align-items: center;
}

.modify-items {
    width: 90px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: var(--cor-texto);
    font-size: 20px;
    border-radius: 3px;
    
}

.modify input[type=number] {
    width: 45px;
    padding: 3px 6px;
}


.lista-principal {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.item-lista-fundo {
    height: 100%;
    width: 90vw;
    padding: 5px;
    max-width: 400px;
    background-color: rgb(143,113,198);
    border-radius: 10px;
    white-space: nowrap;
    flex-wrap: wrap;
    
    

    
}

.left-list-content {
    display: flex;
    align-items: center;
}

.right-list-content {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.delete-item-btn {
    
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--cor-texto);
    border-radius: 3px;
    background-image: url(../assets/delete-icon.png.png);
    background-size: 40px;
    background-repeat: no-repeat;



}
.modify-item-btn {
    height: 40px;
    width: 47px;
    background-color: rgba(0, 0, 0, 0.1) ;
    border: none;
    color: var(--cor-texto);
    border-radius: 3px;
    font-weight: 700;
}

.modify-btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.5) ;
}

footer {
    
    height: 10vh;
    width: 100vw;
}

@Media (min-width: 1024px){
    header {
        width: 90vw;
    }
    
    main {
        width: 90vw;
    
    }


    footer {
        width: 90vw;
    }
}

@media (min-width: 1440px) {
    header {
        width: 1440px;
    }
    
    main {
        width: 1440px;
    
    }
    
    footer {
        
        width: 1440px;
    }


}
